= ui_form_for(@template, url: @template.new_record? ? admin_templates_path : admin_template_path, html: {multipart: true}) do |f|
    = f.input :description
    = f.input :data, as: :editor, input_html: { data: { controller: 'editor', target: 'editor.textarea', 'editor-mode' => 'text/x-ruby', 'editor-height' => '200px' } }
    = f.input :metadata, as: :editor, input_html: { value: YAML.dump(f.object.metadata), data: { controller: 'editor', target: 'editor.textarea', 'editor-mode': 'application/yaml', height: '80px' } }
